<div class="selik">
        <div>
            <img src="https://1.bp.blogspot.com/-NiBcl-Yng_c/X94xqLJTM1I/AAAAAAAAABo/mcAMG9Tq5r4xP_soEbIDf0EsRakuUO5PgCLcBGAsYHQ/s700/pakaimasker.png">
        </div>
        <div>
            <img src="https://www.jakartanotebook.com/images/products/86/1020/46256/3/anhui-masker-anti-polusi-virus-corona-kn95-1-pcs-sy9600-white-28.jpg">
        </div>
        <div>
            <img src="https://awsimages.detik.net.id/visual/2020/09/15/ilustrasi-masker-scuba-ist.png?w=650">
        </div>
   </div>
